.content {
  min-height: 93vh;
  background-color: black;
  color: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content h1 {
  margin: 1em 1em;
}
.about_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}
.about_wrapper p {
  width: 45%;
  line-height: 1.5em;
  text-align: justify;
  font-size: 1.125em;
}
.about_wrapper img {
  width: 45%;
  height: auto;
}
@media(max-width: 500px) {
  .about_wrapper {
    flex-wrap: wrap;
    width:90%;
  }
  .about_wrapper p {
    width:100%;
  }
  .about_wrapper img {
    width: 70%;
  }

}